
.container-fluid{
	padding-right: 25px;
	padding-left: 25px;
}

h1{
	color: #404d5a;
	font-size: 16px;
	margin-top: 5px;
}

p{
	color: #404d5a;
	font-size: 16px;
}
sub{
	font-size: 12px;
}
textarea{
	text-align: right;
}

.ticks{
	height: 15px;
	position: relative;
	left: 15px;

}
.myrow{
	margin-top: 20px;
}

.btt{
	background: #2CBDA5;
	width: 150px;
	font-size: 14px;
	border-radius: 5px;
	color: #ffffff;
	margin-top: 10px;
	border-right-color: #2CBDA5
}

.btt:hover,
.btt:focus{
	color: #ffffff;
	background-color: #00fa9a;
	border-color: #00fa9a;
}

.myform{
	text-align: left;
}

.fa{
	font-size: 25px;
}

.fa-star{
	color: #b0b7c6;
}

.fa-star:hover,
.fa-star:focus{
	color: #2CBDA5;
}

.push{
	color: #2CBDA5;
}

.writer{
	text-align: left;
	font-weight: normal;
	font-size: 15px;
}
.mycheck{
	margin-right: 40px;
	text-align: right;
}

/*BUBBLE*/
.bubble-left
{
position: relative;
left: 10px;
max-width: 250px;
padding: 15px;
background: #FFFFFF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border-top-left-radius: 0; 
}

.bubble-left:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0px 25px 25px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -6px;
left: -21px;
top: 6px;
}

.bubble-right 
{
position: relative;
max-width: 250px;
left: 30px;

padding: 15px;
background: #DCF8C6;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border-top-right-radius: 0; 

}
.bubble-right:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0px 0px 25px 25px;
border-color: transparent #DCF8C6;
display: block;
width: 0;
z-index: 1;
margin-top: -6px;
right: -21px;
top: 6px;

}
.img-bubble{
	position: absolute;
}

/*CHECKBOXES*/
input[type="checkbox"] {
display:none;
}

input[type="checkbox"]{
display:inline-block;
width:16px;
margin-right: 5px;
height:16px;
vertical-align:middle;
cursor:pointer;
border-radius: 2px;
}

.mycheckbox{
  margin-left:15px;
}
.mycheckboxdiv{
   text-align:right;
   margin-top: 5px;
   padding-right: 10px;
  }
.closebutton {
	position: fixed;
	left: 380px;
	top: 10px;
	z-index: 1;
}